<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servientre</title>
</head>
<link rel="stylesheet" href="../style.css">
<body>
    <div class="container">
<header>
    <div class="banner">
        <img src="../img/servientrega.png" alt="">
    </div>
</header>
<div class="botones-principales">
    <a href="../index.html"> <img src="../img/hogar.png" alt=""></a>
    <a href="servicios.html"><img src="../img/carrito-de-compras.png " alt=""></a>
    <a href="#"><img src="../img/llamada-telefonica.png"></a>
</div>
<section class="seccion-noticias">
<p>ya puedes usar nuestra IA especializada</p>

</section>
<iframe src="https://www.youtube.com/embed/Jmz8CXm8JLY?si=nq9ye_-GoWhIJMc7&amp;start=28" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
<h2 style="text-align: center;">Formulario de Contacto</h2>
        <form action="#">
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" placeholder="Tu nombre" required>

        <label for="apellido">Apellido</label>
        <input type="text" id="apellido" name="apellido" placeholder="Tu apellido" required>

        <label for="tipo_doc">Tipo de documento</label>
        <select id="tipo_doc" name="tipo_doc">
            <option value="CC">Cédula de ciudadanía</option>
            <option value="TI">Tarjeta de identidad</option>
            <option value="CE">Cédula de extranjería</option>
        </select>

        <label for="num_doc">Número de documento</label>
        <input type="number" id="num_doc" name="num_doc" placeholder="Digita SU número" required>

        <label for="email">Correo electrónico</label>
        <input type="email" id="email" name="email" placeholder="gmail@correo.com" required>

        <input type="submit" value="Enviar Registro">
        </form>
<footer> <div class="redes-sociales">
        <a href="https://www.facebook.com/?locale=es_LA"><img src="../img/boton_facebook.png" alt=""></a>
          <a href="https://www.servientrega.com/wps/portal/transporte-entrega"><img src="../img/boton_instagram.png" alt=""></a>
          <a href="https://gemini.google.com/?hl=es"><img src="../img/boton_pinteres.png" alt=""></a>

    </div>

</footer>
  

    </div>
</body>
</html>